
.blog-post {
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    transition: all .5s;
}

.blog-post:hover {
    background-color: #6F47D7;
    color: #FFFFFF;
}

.blog-post:hover h4 {
    color: #FFFFFF;
}

.glyphicon-star {
    cursor: pointer;
    font-size: 20px;
}

.glyphicon-star.favorited {
    color: gold;
}